{% extends '/navbar/navbar.html.twig' %}

{% block title %}Customers List{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 py-5">
                <table class="table">
                    <thead>
                        <tr class="bg-secondary">
                            <td>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</td>
                            <td>prenom</td>
                            <td>nom</td>
                            <td>mail</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in pagination %}
                        <tr>
                            <td>{{ customer.id }}</td>
                            <td>{{ customer.firstname }}</td>
                            <td>{{ customer.lastname }}</td>
                            <td>{{ customer.mail }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}
